@import "style.css";

//VARIABLES
$dark-pink: #bc3b69;
$dark-blue: #15202b;

html {
    background-color: $dark-blue;
    text-shadow: none;
    box-shadow: none;
    transition: background 0.5s;
    color: white;

    h1, h2, h3, p, span, figcaption, input, a  {
        color: $dark-pink !important;
    }

    p, span  {
        color: white !important;
    }

    .main-header::before {
        background: rgba(15, 15, 15, 0.7) !important;
    }

    .movies-container, .modal {
        background-color: black;

        div, header, ul, li, figcaption, h2, a, figure {
            background-color: black !important;
        }

        .modal-content {
            background-color: $dark-blue !important;            
        }
    }

    .logo, .wrapper, input, #modal-body, #movie-info, #menu {
        background-color: $dark-blue !important;
    }

    .close-button {
        background: transparent !important;

        &:hover {
            background: black !important;
        }
    }

    #movie-title {
        background-color: transparent !important;

        p {
            color: $dark-pink !important;
        }

        span {
            background-color: transparent !important;
        }
    }

    .lightswitch {
        background-image: url('../assets/lightbulb-regular.svg') !important;
    }

    .hamburger {
        background-image: url('../assets/bars-solid-dark.svg') !important;
    }

    .search-icon {
        background-image: url('../assets/search-dark.svg') !important;
    }

    #dark-mode-btn {
        display: none;
    }

    #light-mode-btn {
        background-image: url("../assets/lightbulb-regular.svg");
        background-repeat: no-repeat;
        display: inline-block;
        width: 55px;
        height: 50px;
        position: absolute;
        right: 90px;
        top: 10px;
        transform: scale(0.6);
        cursor: pointer;
        border: none;
        background-color: transparent;

        @media screen and (max-width: 770px) {
            top: 0;
        }
    }

    #search-results {
        button {
            border: solid 1px $dark-pink !important;
            background-color: $dark-pink !important;
            color: white !important;

            &:hover {
                background-color: white !important;
                color: $dark-pink !important;
            }
        }
    }

    #page-number, #total-results {
        color: $dark-pink !important;
    } 

    #popular-icon {
        background-image: url('../assets/popular-dark.svg') !important;
    }

    #top-rated-icon {
        background-image: url('../assets/top_rated-darksvg.svg') !important;

    }

    #upcoming-icon {
        background-image: url('../assets/upcoming-dark.svg') !important;

    }

    #now-playing-icon {
        background-image: url('../assets/now_playing-dark.svg') !important;

    }
}